<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=dineout5;AccountKey=dbfbz68bPqcki2XygjEnn1SYZPNb4bg/g4vXXvJDxdmJbEiAlZPHQrW2DWHiX7gi5/abRojfscnARnEAb+j7dw==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
</configuration>