@model IEnumerable<Order>

@{ 
    ViewBag.Title = "Order List";
    Layout = "_Layout";
}

<div>
    <div>
        <label>Search Item</label>
        <input type="text" placeholder="Search Item" />
    </div>
    <div>
        <form asp-action="List" method="post">
            <button type="submit"> By Category</button>
        </form>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Table #</th>
            <th>Costumer</th>
            <th>Date</th>
            <th>Ready for Pick Up</th>
            <th>Order Complete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.TableNum</td>
                <td>@order.Date</td>
                <td>
                    <form asp-action="List" method="post">
                        <button type="submit">Ready</button>
                    </form>
                </td>
                <td>
                    <form asp-action="List" method="post">
                        <button type="submit">Complete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
