@{
    ViewBag.Title = "About";
}

    <p>
        <div class="text-center">
            <h2> Dine Out provides:</h2>
            <h3>a safe and convenient dining experience for the guests.</h3>
            <h3>Reduction of costs by reducing staffing needs for the restaurant.</h3>
            <h3>A safer dining experience by reducing the number of people they come in contact with.</h3>
            <h3> A quick and easy way to provide their contact details for the purposes 
            of contact tracing.</h3>
            <h3>In summary, we believe that Dine Out should be implemented in all</h3> 
            <h3>restaurants to help them</h3>
            <h3>bring down the cost of labor, increase foot traffic to their establishment</h3>
            <h3>and increase their revenue.</h3>
        </div>
   </p>
