@{
    ViewBag.Title = "Home";
}

<div class="d-flex justify-content-center">
    <img style="width: 500px;" src="/images/logo_transparent.png"></a>
</div>
<br />
<div class="d-flex justify-content-center">
    <a asp-action="Menu" asp-controller="Restaurant" class="btn btn-primary text-center">Owner Side</a>
    &nbsp;&nbsp;
    <a asp-action="Index" asp-controller="Customer" class="btn btn-secondary text-center">Customer Side</a>
</div>
