<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*.min.css"
          asp-href-exclude="**/*-reboot, **/*-grid" />
</head>
<body>
    <div style="float:right">
        <a asp-action="CustomerLogin" asp-controller="Customer" class="btn btn-sm btn-success">
            <span>
                <small>Customer Login</small>
            </span>
        </a>
        &nbsp;&nbsp;
        <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-success">
            <span>
                <small>Log Out</small>
            </span>
        </a>
    </div>

    <div class="bg-dark">
        <h2 class="navbar-brand text-light">DineOut</h2>
    </div>
    <div class="font-weight-bold">
        <nav class="nav-justified navbar-expand-lg navbar-light bg-light">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item active"><a asp-action="Index" class="nav-link">Home</a></li>
                <li class="nav-item active"><a asp-controller="Home" asp-action="About" class="nav-link">About</a></li>
            </ul>
        </nav>
    </div>

    <div style="float:right">
        <form class="form-inline my-2 my-lg-0" asp-action="SearchString">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by Name" name="searchedString" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer class="d-flex justify-content-center">
            <p>&copy; 2020 - COMP231 Group4 - Project DineOut</p>
        </footer>
    </div>
</body>
</html>
