@{
    Layout = "_Layout";
}

<div class="jumbotron d-flex justify-content-center" style="background-color: rgba(255, 226, 112, 0.8);">
    <div class="card col-md-6 col-sm-offset-4" style="		position: center;">
        <div class="card-body">
            <h3 class="card-title">@ViewBag.Title</h3>
            @RenderBody()
        </div>
    </div>
</div>

