<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*.min.css"
          asp-href-exclude="**/*-reboot, **/*-grid" />
</head>
<body>
    <div>
        <h2>DineOut</h2>
    </div>
    <nav>
        <ul class="nav navbar-nav">
            <li><a asp-controller="Restaurant" asp-action="Menu">Menu</a></li>
            <li><a asp-controller="Restaurant" asp-action="Profile">Profile</a></li>
            <li><a asp-controller="Home" asp-action="QrGenerator">Generate QR Code</a></li>
        </ul>
    </nav>
    <div>
        <div>
            <table>
                <tr>
                    <td>
                        <a asp-action="Orders">
                            Orders
                        </a>
                    </td>
                    <td>
                        <a asp-action="CompletedOrders">
                            Completed Orders
                        </a>
                    </td>
                    <td>
                        <a asp-action="CurrentOrders">
                            Current Orders
                        </a>
                    </td>
                    <td>
                        <form>
                            <label>Search Item</label>
                            <input type="text" placeholder="Search Item" />
                            <button type="button">Search</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Fall 2020 - COMP231 Group4 - Project DineOut</p>
        </footer>
    </div>
</body>
</html>
