@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*.min.css"
		  asp-href-exclude="**/*-reboot, **/*-grid" />
	<link rel="shortcut icon" href="/images/favicon.png" />
	<link rel="stylesheet" href="/css/style.css" />

</head>
<body background="/images/bg.png">


	<!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        @if (Context.Session.GetString("restaurant_owner_Id") == null)
        {
            <a asp-controller="Home" asp-action="Index">
                <img class="banner" style="width: 80px" src="/images/logo_transparent.png">
            </a>
        }
        else
        {
            <a asp-controller="Restaurant" asp-action="Menu">
                <img class="banner" style="width: 80px" src="/images/logo_transparent.png">
            </a>
        }
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-controller="Restaurant" asp-action="Menu" class="nav-link">
                        Menu
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Orders
                    </a>
                    <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" asp-action="Orders">All Orders</a>
                        <a class="dropdown-item" asp-action="CurrentOrders">Current Orders</a>
                        <a class="dropdown-item" asp-action="CompletedOrders">Completed Orders</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="QrGenerator" class="nav-link">Generate QR Code</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Restaurant" asp-action="Profile" class="nav-link">Profile</a>
                </li>
                <li>
                    <a asp-controller="Restaurant" asp-action="Notification" class="nav-link btn btn-sm btn-outline-danger">Notification</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">


                <li><a asp-action="RestaurantLogout" asp-controller="Restaurant" class="btn btn-sm btn-success">Log Out  <i class="fas fa-user"></i></a></li>

            </ul>
        </div>
    </nav>

	@if (TempData["message"] != null)
	{
		<div class="alert alert-success mt-1">@TempData["message"]</div>
	}
	<div class="container" style="margin-top:100px">
		

		@RenderBody()
	</div>
	<hr />
	<footer class="text-center bg-light" style="position:page; width:100%">
		<p>&copy; Fall 2020 - COMP231 Group4 - Project DineOut</p>
		<p>
			Background image is lisenced by
			<a href='https://pngtree.com/free-backgrounds' target="_blank">pngtree.com</a>
		</p>
	</footer>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    
</body>
</html>
