<table>
    <tr>
        <td>
            <a asp-action="Orders">
                Orders
            </a>
        </td>
        <td>
            <a asp-action="CompletedOrders">
                Completed Orders
            </a>
        </td>
        <td>
            <a asp-action="CurrentOrders">
                Current Orders
            </a>
        </td>
        <td>
            <form>
                <label>Search Item</label>
                <input type="text" placeholder="Search Item" />
                <button type="button">Search</button>
            </form>
        </td>
    </tr>
</table>
