@model DineOut.Models.Customer
@{
	ViewBag.Title = "Customer Registration";
	Layout = "_IdentityLayout";
}

<form asp-action="Register" asp-controller="Customer" method="post"
	  role="form">

	<div class="form-row">
		<div class="form-group col-md-12">
			<h5><label for="Email">Email</label></h5>
			<input class="form-control" type="email" asp-for="@Model.Email"/>
		</div>

		<div class="form-group col-md-12">
			<h5><label for="LastName"> Name</label></h5>
			<input class="form-control" type="text" asp-for="@Model.Name" />
		</div>
		<div class="form-group col-md-12">
			<h5><label for="Password">Password</label></h5>
			<input  class="form-control" type="password" name="firstPassword" placeholder="password" />
		</div>
		<div class="form-group col-md-12">
			<h5><label for="Password">Re-enter Password</label></h5>
			<input class="form-control" type="password" asp-for="@Model.PasswordHash" placeholder="password" />
		</div>

	</div>
	<div class="d-flex justify-content-between">
		<button type="submit" class="btn btn-sm btn-success">Create DineOut Account</button>
		<button type="reset" class="btn btn-sm btn-secondary">Clear Form</button>
	</div>
</form>
<br />




