@model IEnumerable<Restaurant>
@{
    ViewData["Title"] = "Customer Home";
    Layout = "_CustomerLayout";
}




<div class="d-flex justify-content-center">
    <form asp-controller="Customer" asp-action="SearchString">
        <div class="form-inline">
            <input class="form-control" type="text" placeholder="Restaurant Name" name="searchedString" aria-label="Search">
            <button class="form-control btn btn-success" type="submit">Search</button>
        </div>
        
    </form>
</div>
<table class="table table-sm table-striped table-borderless text-center" style=" background-color: rgba(255, 226, 112, 0.8);">

    <thead>
        <tr>
            <th colspan="2">Restaurants</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model)
        {
            <tr>
                <td style="text-align:center"><h6>@restaurant.RestaurantName</h6></td>
                <td>
                    <div class="text-center">
                        <a asp-action="Menu" asp-route-restaurantId="@restaurant.RestaurantId" asp-route-menuId="@restaurant.Menu.MenuId" class="btn btn-success">Select</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

