@model IEnumerable<Restaurant>
@{
    ViewData["Title"] = "Customer Home";
    Layout = "_CustomerLayout";
}





<table class="table table-sm table-bordered">

    <thead>
        <tr>
            <th colspan="2">Restaurant</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.RestaurantName</td>
                <td>
                    <div class="text-center">
                        @*change the action name later*@
                        <a asp-action="Menu" asp-route-restaurantId="@restaurant.RestaurantId" asp-route-menuId="@restaurant.Menu.MenuId" class="btn btn-success">Menu</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

