
@{
    ViewBag.Title = "Thanks Page";
}


<div style="text-align:center">
    <div id="allpage">
        <h1> Thank you</h1>
        <h2>Your transaction has been completed successfully </h2>
        <h2>Have a great day</h2>

    </div>
    <br /> <br />
    <br />
    <br />
    <br /> <br />
    <br />
</div>

