
@{
	ViewData["Title"] = "Index";
	Layout = "_Layout";
}

<h2>Order Details</h2>

<div class="orderDetailsBody">
	<table class="table table-striped orderDetailsTable ">
		<tr>
			<td>Item Ordered:</td>
			<td>Fried Chincken</td>
		</tr>
		<tr>
			<td>Restaurant</td>
			<td>KFC</td>
		</tr>
		<tr>
			<td>Quantity:</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Teable Number</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Total</td>
			<td>$7.99</td>
		</tr>
	</table>

</div>
<section class="row">
	<div class="orderDetailsButton">
		<a asp-action="EditOrder" asp-controller="OrderDetails" class="btn btn-danger">Edit Order</a>
		<a class="btn btn-success" href="#">Send to Kitchen</a>
	</div>
</section>
