@model IEnumerable<Order>

@{ 
    ViewBag.Title = "Order List";
    Layout = "_RestaurantLayout";
}


<table class="table table-sm table-bordered text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Table #</th>
            <th>Costumer</th>
            <th>Date</th>
            <th colspan="2">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    <a asp-action="OrderDetails">
                        @order.OrderId
                    </a>
                </td>
                <td>@order.TableNum</td>
                <td>@order.CustomerId</td>
                <td>@order.CreatedOn</td>
                <td>
                    <form asp-action="CurrentOrders" method="post">
                        <button class="btn btn-danger" type="submit">Ready</button>
                    </form>
                </td>
                <td>
                    <form asp-action="Menu" method="post">
                        <button class="btn btn-success" type="submit">Complete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
