@model Item

@{ 
    ViewBag.Title = "Edit";
    Layout = "_RestaurantLayout";
}

<div class="d-flex justify-content-center">
    <form asp-action="Add_Update_Item" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="ItemId"  />

        <div style="margin:10px">
            <div><input type="hidden" asp-for="MenuId" /></div>
        </div>
        <div style="margin:10px">
            <label class="font-weight-bold" asp-for="ItemName"></label>
            <div><input asp-for="ItemName" /></div>
        </div>
        <div style="margin:10px">
            <label class="font-weight-bold" asp-for="Description"></label>
            <div><textarea asp-for="Description"></textarea></div>
        </div>
        <div style="margin:10px">
            <label class="font-weight-bold" asp-for="Ingredients"></label>
            <div><textarea asp-for="Ingredients"></textarea></div>
        </div>
        <div style="margin:10px">
            <label class="font-weight-bold" asp-for="Price"></label>
            <div><input type="number" asp-for="Price" /></div>
        </div>
        <div style="margin:10px">
            <label class="font-weight-bold"asp-for="Image"></label>
            <div><input type="file" asp-for="Image" /></div>
        </div>
        <div style="margin:10px">
            <div><input class="text-lg-right" asp-for="Availability" />
            <label class="font-weight-bold" style="font-size:medium; color:dodgerblue">Available</label></div>
        </div>
        <div style="margin:10px">
            <button class="btn btn-success" type="submit">Save</button>
            <a class="btn btn-light" asp-action="Menu">Cancel</a>
        </div>
    </form>
</div>
