@model DineOut.Models.RestaurantProfile
@{
    ViewBag.Title = "Owner Change Password";
    Layout = "_IdentityLayout";
}

<form asp-action="ForgotPassword" asp-controller="Restaurant" method="post"
      class="form-row" role="form">
    <table class="table">
        <tr>
            <td><label for="Email">Email</label></td>
            <td><input type="email" asp-for="@Model.Email" placeholder="Enter Email" /></td>
        </tr>
        <tr>
            <td><label for="Password">Password</label></td>
            <td><input type="password" asp-for="@Model.PasswordHash" placeholder="Enter your new password" /></td>
        </tr>
        <tr>
            <td><label for="Password">Password</label></td>
            <td><input type="password" placeholder="Consfirm your new password" /></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-sm btn-success">Change password</button></td>
        </tr>
    </table>
</form>
<br />


