@model DineOut.Models.RestaurantProfile
@{
	ViewBag.Title = "Owner Change Password";
	Layout = "_IdentityLayout";
}

<form asp-action="ForgotPassword" asp-controller="Restaurant" method="post"
	  role="form">

	<div class="form-row">
		<div class="form-group col-md-12">
			<h5><label for="Email">Email</label></h5>
			<input class="form-control" type="email" asp-for="@Model.Email" placeholder="Enter Email" />
		</div>

		<div class="form-group col-md-12">
			<h5><label for="Password">New Password</label></h5>
			<input class="form-control" type="password" name="firstPassword" placeholder="Enter your new password" />
		</div>
		<div class="form-group col-md-12">
			<h5><label for="Password">Repeat Password</label></h5>
			<input class="form-control" type="password" asp-for="@Model.PasswordHash" placeholder="Confirm your new password" />
		</div>
		<div class="d-block justify-content-between">
			<button type="submit" class="btn btn-lg btn-success">Change password</button>
		</div>
	</div>

</form>




