@model IEnumerable<Notification> 
@{
    ViewData["Title"] = "Notification";
    Layout = "_RestaurantLayout";
}
<script>
    function changeTemplate(select) {
        const lastSelectedIndex = select['lastSelectedIndex'] || 0;
        const template = document.getElementById('template');
        const textarea = document.getElementById('content');
        if (textarea.innerHTML.trim().length > 0) {
            if (!confirm('content is not empty, do you sure to discard it.')) {
                select.selectedIndex = lastSelectedIndex;
                return;
            }
        }
        select['lastSelectedIndex'] = select.selectedIndex;
        switch (template.value) {
            case "covid":
                textarea.innerHTML = `
       Dear Custom,
 
         We send this email to all of our customers, who was dining at the restaurant before [date&time].We noticed 
         that one of customer dining at our restaurant tested positive for COVID-19. We disinfected the restaurant 
         immediately after we got the notice from Toronto Pubic Health. Receiving this email does not mean that you
         have been directly exposed to COVID-19. If you feel any discomfort, please call Toronto Public Health at
         1877-543-8931 to get more information. If your symptoms are severe, please contact the nearest hospital 
         emergence department.

         Thank you

                `;
                break;
            case "common":
                textarea.innerHTML = `
       Dear Custom,

        Our restaurant has launched new menu. All our new dishes are 50% off, the offer lasts until the 
        end of the month.Please come to visit us.
       
         Thank you

                `;
                break;
            default:
                textarea.innerHTML = '';
                break;
        }
    }
</script>
<style>
    td {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>
<h2>Notification</h2>
<div>
    <form method="post" class="w-75 m-auto">

        <div class="form-group">
            <label style="width: 150px"><b>Choose Template:</b> </label>
            <select id="template" name="template" onchange="changeTemplate(this)" required>
                <option value="" selected>Choose...</option>
                <option value="covid">Covid-19</option>
                <option value="common">New Menu </option>
            </select>
        </div>
        <div class="form-group">
            <textarea class="w-100" id="content" name="content" style="min-height: 300px"></textarea>
        </div>
        <div>
            <button class="btn btn-primary">Send Email</button>
        </div>
    </form>
</div>
