@{ 
    ViewBag.Title = "Login";
    Layout = "_IdentityLayout";
}

<form asp-action="Menu" asp-controller="Restaurant" method="post"
        class="form-row" role="form">
    <table class="table">
        <tr>
            <td><label for="Email">Email</label></td>
            <td><input type="email" id="Email" placeholder="Username" /></td>
        </tr>
        <tr>
            <td><label for="Password">Password</label></td>
            <td><input type="password" id="Password" placeholder="Enter unique password" /></td>
        </tr>
        <tr>
            <td><br /></td>
            <td><br /></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-sm btn-success">Login</button></td>
            <td><a class="btn btn-sm btn-secondary">Forgot Password?</a></td>
        </tr>
    </table>

</form>
<br />
<div class="card-footer text-center">
    <a class="card-link active font-weight-bold" asp-action="OwnerRegistration">Create New Account</a>
</div>


