@model IEnumerable<Item>
@*define the model here*@
@{
	ViewData["Title"] = "Order";
	Layout = "_Layout";
}


<h2>@*@Model.Restaurants*@</h2> @*RestaurantName*@


<form action="MakeOrder" method="post">
	<input type="hidden" @*asp-for="@Model.MenuId"*@ />@*//orderID*@
	<table>
		@foreach (var item in Model)
		{

			<tr>
				<td>Image:</td>
				<td></td>
				@*.Image*@
			</tr>
			<tr>
				<td>Description:</td>
				<td></td>
				@*.Description*@
			</tr>
			<tr>
				<td>Price:</td>
				<td></td>
				@*.Price.toString("c")*@
			</tr>
			<tr>
				<td>Quantity:</td>
				<td><input type="number" @*asp-for="@Model.Order_Items"*@ /></td>
				@*.Quantity*@
			</tr>

		}

	</table>
	<div>
		<label @*asp-for="*@>Add Notes</label>
		<textarea rows="4"></textarea>@*.Notes*@
	</div>
	<div class="marginTop">
		<button class="btn btn-success" type="submit">Save</button>
		<a class="btn btn-danger" asp-controller="Home" asp-action="Index">Cancel</a>
	</div>
</form>
